<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-twitter" ">
        <i class="icon-twitter"></i>
      </a>
      <a class="social-link social-facebook-official" ">
        <i class="icon-facebook-official"></i>
      </a>
     
    </div>
    <div class="credits">
      ERF - All Rights Reserved.
    </div>
  </div>

</footer>
